* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f089b1;
}

.container {
    min-height: 500px;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
}

.container h2 {
    margin: 10px 10px;
    font-weight: 300;
}

.container .content {
    margin: 10px 10px;
}

.container .content div {
    display: flex;
    line-height: 1.5;
    margin: 10px 0px;
}

.container .content div img {
    max-width: 100px;
    border-radius: 100%;
}

.container .content div .name {
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}

.container .content div .name p {
    color: #555;
}

.container button {
    margin: 10px 20px;
    height: 40px;
    width: 250px;
    background: #eb6dc7;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
}

